apiVersion: v1
kind: Service
metadata:
  name: was-service
  namespace: was
  labels:
    app: was-spring
    tier: was
spec:
  type: LoadBalancer
  selector:
    app: was-spring
    tier: was
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
